#mmbl-text-notice {
	padding: 10px;
	background: #fff;
	z-index: 999999;
	position: fixed;
	width: 0;
	overflow: hidden;
}

#mmbl-text-notice.open {
	width: 130px;
}

#mmbl-text-notice .btn {
	position: absolute;
	top: 0;
	display: block;
	max-width: 20px;
	height: 30px;
	background: #ddd;
	width: 20px;
}

#mmbl-text-notice.open .btn {
	position: static;
	top: auto;
	float: right;
}

#mmbl-text-notice:not(.open) span {
	overflow: hidden;
	height: 20px;
	display: block;
}
